/* common mixins */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.text-input,
.button {
  border: 0;
  background: none;
  outline: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* end common mixins */
/* base project styles */
@font-face {
  font-family: 'helveticaneuecyr-thin';
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'), url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr-bold';
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'), url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Arial';
  font-size: 14px;
  line-height: normal;
}
/**** body media (font-size correction) ****/
/**** Ipad ****/
@media only screen and (max-width: 1024px) {
  
}
/**** end Ipad ****/
/*** Iphone ***/
@media only screen and (max-width: 480px) {
  
}
/*** end Iphone ***/
/**** end body media (font-size correction) ****/
.wrap {
  margin: 0 auto;
  padding: 0 3.2142857142857144em;
  max-width: 1250px;
}
/*** Iphone ***/
@media only screen and (max-width: 480px) {
  .wrap {
    padding: 0 1.4285714285714286em;
  }
}
/*** end Iphone ***/
.main-wrap {
  width: 100%;
  -webkit-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
}
@media only screen and (max-width: 1024px) {
  .main-wrap {
    position: relative;
  }
  .page-content {
    margin-top: 2.142857142857143em;
  }
}
@media only screen and (max-width: 480px) {
  .page-content {
    margin-top: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.text-page {
  font-family: 'helveticaneuecyr-light', 'Arial', sans-serif, serif;
  font-size: 1em;
  line-height: 1.1;
}
.text-page p {
  margin-bottom: 1.25em;
}
/* end base project styles */
/* header styles */
.header__top-wrap {
  *zoom: 1;
  padding: 0.7142857142857143em 0;
  background: #060606;
  word-spacing: -0.34em;
}
.header__top-wrap:before,
.header__top-wrap:after {
  content: " ";
  display: table;
}
.header__top-wrap:after {
  clear: both;
}
.header__top-wrap .wrap > * {
  word-spacing: normal;
}
.header__logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  width: 21%;
  padding: 2em 1.4285714285714286em 2.2857142857142856em 0;
}
.header__logo img {
  max-width: 100%;
}
.header__contacts {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  width: 79%;
  padding-left: 1.4285714285714286em;
  margin-bottom: -0.7142857142857143em;
  text-align: right;
}
.header__contacts > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  margin-bottom: 0.7142857142857143em;
  color: #ffffff;
  margin-left: 1.7857142857142858em;
}
.header__contacts > li .city {
  font-family: 'Arial';
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
}
.header__contacts > li .tel {
  font-family: 'helveticaneuecyr-light', 'Arial', sans-serif, serif;
  font-size: 1em;
  line-height: 1;
}
/*********** main menu ***********/
.header__menu-wrap {
  padding-top: 2.142857142857143em;
  padding-bottom: 3.2142857142857144em;
  *zoom: 1;
}
.header__menu-wrap:before,
.header__menu-wrap:after {
  content: " ";
  display: table;
}
.header__menu-wrap:after {
  clear: both;
}
.main-menu {
  position: relative;
}
.main-menu ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  margin-right: 1.7142857142857142em;
}
.main-menu ul li a {
  display: block;
}
.main-menu__first-level > li > a {
  padding: 0.35714285714285715em 0;
  border-bottom: 4px solid transparent;
  font-family: 'Arial';
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.main-menu__first-level > li.active > a {
  border-color: #000000;
}
.main-menu__first-level > li.active .main-menu__second-level {
  display: block;
}
.main-menu__second-level {
  display: none;
  position: absolute;
  top: 2.4285714285714284em;
  left: 0;
}
.main-menu__second-level > li > a {
  padding: 0.4166666666666667em 0;
  font-family: 'helveticaneuecyr-thin', 'Arial', sans-serif, serif;
  font-size: 0.8571428571428571em;
  line-height: 1;
}
.main-menu__second-level > li:hover > a,
.main-menu__second-level > li.active > a {
  font-family: 'helveticaneuecyr-bold', 'Arial', sans-serif, serif;
  font-size: 0.8571428571428571em;
  line-height: 1;
}
.touch-menu-control {
  float: right;
  padding: 0.2631578947368421em;
  margin: -0.2631578947368421em -0.2631578947368421em 0 0;
  font-family: 'Arial';
  font-size: 2.7142857142857144em;
  line-height: 1;
  color: #ffffff;
  display: none;
  transition: all 0.2s;
}
/*********** end main menu ***********/
/************* header media **************/
@media only screen and (min-width: 1024px) {
  .main-menu__second-level {
    display: none !important;
  }
  .main-menu__first-level > li.active .main-menu__second-level {
    display: block !important;
  }
}
/**** Ipad ****/
@media only screen and (max-width: 1023px) {
  .header__top-wrap {
    height: 4.642857142857143em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header__logo {
    width: 11.428571428571429em;
    padding: 0.7em 0 0;
  }
  .header__contacts {
    width: 100%;
    margin-top: 0.2em;
    padding: 1.0714285714285714em 0;
    white-space: nowrap;
    text-align: left;
  }
  .header__contacts > li {
    max-width: 36%;
    vertical-align: top;
    white-space: normal;
    margin-left: 0;
    margin-right: 3%;
    color: #000000;
  }
  .header__contacts > li .tel,
  .header__contacts > li .city {
    white-space: nowrap;
  }
  .header__contacts > li:last-child {
    margin-right: 0;
  }
  .header__menu-wrap {
    padding: 0.7142857142857143em 0;
  }
  .touch-menu-control {
    display: block;
    margin-top: -0.15em;
  }
  .main-menu {
    position: absolute;
    top: 0;
    right: -16.785714285714285em;
    height: 100%;
    width: 16.785714285714285em;
    padding: 3.6842105263157894em 1.0526315789473684em 2.1052631578947367em 2.8947368421052633em;
    background: #060606;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3571428571428572em;
    color: #a5a5a5;
  }
  .main-menu ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 0em;
  }
  .main-menu ul li a {
    padding: 0;
    border: 0;
    line-height: 2em;
  }
  .main-menu ul li a:hover {
    color: #ffffff;
  }
  .main-menu__first-level > li.active .main-menu__second-level {
    display: none;
  }
  .main-menu__second-level {
    position: static;
    margin-left: 0.7142857142857143em;
  }
  .main-menu__second-level > li:hover a {
    font-family: 'helveticaneuecyr-thin', 'Arial', sans-serif, serif;
    font-size: 0.8571428571428571em;
    line-height: 2;
  }
  .open-touch-menu {
    overflow-y: scroll;
  }
  .open-touch-menu .main-wrap {
    z-index: 2;
    position: fixed;
    margin-left: -16.785714285714285em;
  }
  .open-touch-menu .touch-menu-control {
    transform: rotate(90deg);
  }
}
/**** end Ipad ****/
@media only screen and (max-width: 760px) {
  .header__contacts {
    padding-top: 0.7142857142857143em;
  }
  .header__contacts .city {
    margin-bottom: 0.21428571428571427em;
  }
  .header__contacts .city,
  .header__contacts .tel {
    display: block;
  }
}
/*** Iphone ***/
@media only screen and (max-width: 480px) {
  .header__logo {
    width: 11.428571428571429em;
  }
  .header__contacts {
    display: none;
  }
  .main-menu {
    font-size: 14px;
    padding: 2.142857142857143em 1.4285714285714286em 2.857142857142857em 2.857142857142857em;
  }
}
/*** end Iphone ***/
/************* end header media **************/
/* end header styles */